<section class="container mt-3 mt-3">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="card no-border">
        <div class="card-body">
          <h5 class="card-title">
            Login
            <i class="fal fa-sign-in-alt float-right"></i>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Please enter credentials
          </h6>
          <div *ngIf="errorMessage.length" class="server-response lead">
            {{ errorMessage }}
          </div>
          <form [formGroup]="form" (submit)="validateCredentials(form)">
            <div class="form-group">
              <input
                formControlName="email"
                type="email"
                name="email"
                class="form-control"
                placeholder="Enter email"
                autocomplete="off"
              />
              <div
                *ngIf="form.controls.email.dirty || form.controls.email.touched"
              >
                <div
                  class="error"
                  *ngIf="form.get('email').hasError('required')"
                >
                  *Email Required
                </div>
                <div class="error" *ngIf="form.get('email').hasError('email')">
                  *Please enter a valid email
                </div>
              </div>
            </div>
            <div class="input-group">
              <input
                formControlName="password"
                [type]="inputType"
                name="password"
                class="form-control"
                placeholder="Password"
              />
              <div class="input-group-append">
                <button
                  (click)="toggleShowPassword()"
                  class="btn btn-outline-secondary"
                  type="button"
                >
                  {{ passwordToggleLabel }}
                </button>
              </div>
            </div>
            <div
              *ngIf="
                form.controls.password.dirty || form.controls.password.touched
              "
            >
              <div
                class="error"
                *ngIf="form.get('password').hasError('required')"
              >
                *Password Required
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-outline-primary btn-sm mt-3"
              [disabled]="form.invalid || isLoading"
            >
              <span *ngIf="!isLoading">
                <i class="fal fa-id-card-alt"></i>
                Sign In
              </span>
              <span *ngIf="isLoading">
                <i class="fal fa-cog fa-spin"></i>
                Validating...
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
