<section class="container mt-3 mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Location
            <i class="fal fa-street-view float-right"></i>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Where do I live?
          </h6>
          <p class="card-text">
            <span class="lead">
              8110 Thames Blvd Boca Raton, FL 33433
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Education
            <i class="fal fa-graduation-cap float-right"></i>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Bachelor of Science, Computer Information Systems
          </h6>
          <h6 class="card-subtitle mb-2 text-muted">
            Database Management
          </h6>
          <p class="card-text">
            <span class="lead">
              Graduated from DeVry University in 2015.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card no-border">
        <div class="card-body">
          <h5 class="card-title">
            How I Got Into Programming
            <i class="fal fa-bug float-right"></i>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="fas fa-hashtag"></i>ByAccident
          </h6>
          <span class="card-text lead">
            <p>
              I got into Web Development / Software Development completely by
              accident.
            </p>
            <p>
              <a
                class="card-link"
                href=""
                data-toggle="modal"
                data-target="#AbouteMeHowModal"
              >
                Read more...
              </a>
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="AbouteMeHowModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="AbouteMeHowModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AbouteMeHowModalTitle">
            How I Got Into Programming
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            I got into Web Development / Software Development completely by
            accident.
          </p>
          <p>
            One day I was browsing the internet and I somehow accidentally hit
            "ctrl + u". This opened up the website's source code view.
          </p>
          <p>
            I didn't know it at the time but I was looking at the secret sauce
            used to make websites. I became intrigued with web development and I
            guess you can say that's when my web development career started.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
