<section class="container mt-3 mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h5 class="card-title">
            Email
            <i class="fal fa-at float-right"></i>
          </h5>
          <p class="card-text">
            whtirado@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h5 class="card-title">
            Phone
            <i class="fal fa-mobile-android float-right"></i>
          </h5>
          <p class="card-text">
            (551) 221 - 4373
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card no-border mt-1 mb-1">
        <div class="card-body">
          <h5 class="card-title">
            Message
            <i class="fal fa-envelope-open-text float-right"></i>
          </h5>
          <h6 class="card-subtitle mb-1 text-muted">
            Feel free to send me a message
          </h6>
          <a
            href="#"
            class="card-link"
            data-toggle="modal"
            data-target="#ContactModal"
            (click)="clearModalMessages()"
          >
            <i class="fal fa-envelope-open"></i>
            Compose Message
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="ContactModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="ContactModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ContactModalTitle">
            Send me a message
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="errorMessage.length" class="server-response lead">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage.length" class="server-response lead">
            {{ successMessage }}
          </div>
          <form
            *ngIf="!successMessage.length"
            [formGroup]="form"
            (submit)="submitMessage(form)"
          >
            <div class="row">
              <div class="col-xs-12 col-md">
                <div class="form-group">
                  <input
                    formControlName="name"
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Name..."
                    maxlength="20"
                    autocomplete="off"
                  />
                  <app-contact-error
                    [contactFormControl]="form.get('name')"
                  ></app-contact-error>
                </div>
              </div>
              <div class="col-xs-12 col-md">
                <div class="form-group">
                  <input
                    formControlName="email"
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email..."
                    maxlength="50"
                    autocomplete="off"
                  />
                  <app-contact-error
                    [contactFormControl]="form.get('email')"
                  ></app-contact-error>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                formControlName="subject"
                type="text"
                name="subject"
                class="form-control"
                placeholder="Subject..."
                autocomplete="off"
                maxlength="30"
              />
              <app-contact-error
                [contactFormControl]="form.get('subject')"
              ></app-contact-error>
            </div>
            <div class="form-group">
              <textarea
                formControlName="message"
                name="message"
                class="form-control"
                placeholder="Message..."
                maxlength="250"
                autocomplete="off"
              ></textarea>
              <app-contact-error
                [contactFormControl]="form.get('message')"
              ></app-contact-error>
            </div>
            <button
              type="submit"
              class="btn btn-outline-primary btn-sm"
              [disabled]="form.invalid || isLoading"
            >
              <span *ngIf="!isLoading">
                <i class="fal fa-envelope"></i>
                Send Message
              </span>
              <span *ngIf="isLoading">
                <i class="fal fa-cog fa-spin"></i>
                Sending...
              </span>
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm float-right"
              data-toggle="modal"
              data-target="#ContactModal"
              (click)="resetForm()"
            >
              <i class="fal fa-eraser"></i>
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
