<section class="container mt-3 mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h5 class="card-title">
            Email
            <i class="fal fa-at float-right"></i>
          </h5>
          <p class="card-text">
            whtirado@gmail.com
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h5 class="card-title">
            Phone
            <i class="fal fa-mobile-android float-right"></i>
          </h5>
          <p class="card-text">
            (551) 221 - 4373
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card no-border mt-1 mb-1">
        <div class="card-body">
          <h5 class="card-title">
            Message
            <i class="fal fa-envelope-open-text float-right"></i>
          </h5>
          <h6 class="card-subtitle mb-1 text-muted">
            Feel free to send me a message
          </h6>
          <div
            *ngIf="errorMessage.length"
            class="alert alert-warning"
            role="alert"
          >
            {{ errorMessage }}
          </div>
          <div
            *ngIf="successMessage.length"
            class="alert alert-success"
            role="alert"
          >
            {{ successMessage }}
          </div>
          <form [formGroup]="form" (submit)="submitMessage(form)">
            <div class="row">
              <div class="col-xs-12 col-md">
                <div class="form-group">
                  <input
                    formControlName="name"
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Name..."
                    maxlength="20"
                    autocomplete="off"
                  />
                  <app-contact-error
                    [contactFormControl]="form.get('name')"
                  ></app-contact-error>
                </div>
              </div>
              <div class="col-xs-12 col-md">
                <div class="form-group">
                  <input
                    formControlName="email"
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email..."
                    maxlength="50"
                    autocomplete="off"
                  />
                  <app-contact-error
                    [contactFormControl]="form.get('email')"
                  ></app-contact-error>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input
                formControlName="subject"
                type="text"
                name="subject"
                class="form-control"
                placeholder="Subject..."
                autocomplete="off"
                maxlength="50"
              />
              <app-contact-error
                [contactFormControl]="form.get('subject')"
              ></app-contact-error>
            </div>
            <div class="form-group">
              <textarea
                formControlName="message"
                name="message"
                class="form-control"
                placeholder="Message..."
                maxlength="250"
                autocomplete="off"
              ></textarea>
              <app-contact-error
                [contactFormControl]="form.get('message')"
              ></app-contact-error>
            </div>
            <button
              type="submit"
              class="btn btn-primary mt-2"
              [disabled]="form.invalid || isLoading"
            >
              <span *ngIf="!isLoading">
                Send Message
              </span>
              <span *ngIf="isLoading">
                <i class="fal fa-cog fa-spin"></i>
                Sending...
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
