<section class="container mt-3 mb-3">
  <header class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h4>Experience</h4>
      <small class="lead">
        The following is a list of jobs I've had in my Software Engineering
        carrer.
      </small>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card shadow-sm mt-3">
        <div class="card-body">
          <h5 class="card-title">Software Enginner</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Smartmatic (April 2018 to June 2019)
          </h6>
          <ul class="list-group list-group-flush card-text">
            <li class="list-group-item pointer mt-1">
              <i class="far fa-check-circle"></i>
              Participated in meetings for UI/UX design and collaborate using
              Invision
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create high performance Single Page Applications using AngularJs
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create UI\UX from specification provided through Invision
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Use APIs to send and request data from backend databases
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Maintain / Update web applications
            </li>
            <li class="list-group-item pointer pb-0">
              <i class="far fa-check-circle"></i>
              Create / Update custom directives and widgets
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card shadow-sm mt-3">
        <div class="card-body">
          <h5 class="card-title">Software Enginner</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Eastern Metal Supply (October 2015 to March 2016)
          </h6>
          <ul class="list-group list-group-flush card-text">
            <li class="list-group-item pointer mt-1">
              <i class="far fa-check-circle"></i>
              Maintain JBase Database
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create and Maintain Pick Basic console applications
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create and Maintain Web Applications
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create and Maintain custom JavaScript code
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Created a JavaScript Library to ease future web application
              development
            </li>
            <li class="list-group-item pointer pb-0">
              <i class="far fa-check-circle"></i>
              Fully managed my own project for Inventory Control
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
