<section class="container mt-3 mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card no-border mt-3 mb-2">
        <div class="">
          <h5 class="card-title">Software Enginner</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Smartmatic (April 2018 to June 2019)
          </h6>
          <ul class="list-group list-group-flush card-text">
            <li class="list-group-item pointer mt-1">
              <i class="far fa-check-circle"></i>
              Worked in 3 different projects US, Denmark and Argentinian Election Management Plateform.
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Participated in meetings for UI/UX design and collaborate using Invision and Zeplin
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create high performance Single Page Applications using AngularJs and Angular 2+
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create UI\UX from specification provided through Invision and Zeplin
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Use APIs to send and request data from backend databases
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create, Update and Maintain web applications
            </li>
            <li class="list-group-item pointer pb-0">
              <i class="far fa-check-circle"></i>
              Create, Update and Maintain custom components
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card no-border mt-3">
        <div class="">
          <h5 class="card-title">Software Enginner</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Eastern Metal Supply (October 2015 to March 2016)
          </h6>
          <ul class="list-group list-group-flush card-text">
            <li class="list-group-item pointer mt-1">
              <i class="far fa-check-circle"></i>
              Maintain JBase Database
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create and Maintain Pick Basic console applications
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create and Maintain Web Applications
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Create and Maintain custom JavaScript code
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-check-circle"></i>
              Created a JavaScript Library to ease future web application
              development
            </li>
            <li class="list-group-item pointer pb-0">
              <i class="far fa-check-circle"></i>
              Fully managed my own project for Inventory Control
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
