<section class="container mt-3 mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card no-border mt-3">
        <div class="">
          <h5 class="card-title">Web Technologies</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Methodologies, Technologies, Libraries & Frameworks
          </h6>
          <ul class="list-group list-group-flush card-text">
            <li class="list-group-item pointer mt-1">
              <i class="fal fa-brackets-curly"></i>
              Solid comprehension of the Object Oriented Programming (OOP) model
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-redo-alt"></i>
              Solid comprehension of the Software Development Life Cycle (SDLC)
            </li>
            <li class="list-group-item pointer">
              <i class="fad fa-brackets"></i>
              TypeScript
            </li>
            <li class="list-group-item pointer">
              <i class="fal fa-laptop-code"></i>
              Html(5), XML, CSS(3), JavaScript, JSON, AJAX and PHP
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-js-square"></i>
              JQuery, AngularJS, Angular 2+
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-bootstrap"></i>
              Bootstrap
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-npm"></i>
              MEAN Stack development: MongoDB, Express, AngularJs and NodeJs
            </li>
            <li class="list-group-item pointer">
              <small
                class="lead"
                style="font-size: .9em; margin-left: -.52em; font-weight: 500;"
                >/api</small
              >
              Proficient with web RESTful APIs
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-git-square"></i>
              Proficient with Github Source Control platform
            </li>
            <li class="list-group-item pointer">
              <i class="fas fa-running"></i>
              Proficient with Agile Methodologies like SCRUM
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-jira"></i>
              Proficient with Jira and Zeplin (Product development tracking)
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-invision"></i>
              Proficient with Invision (Product design platform)
            </li>
            <li class="list-group-item pointer pb-0">
              <i class="fas fa-database"></i>
              Proficient with SQL and NO-SQL databases
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
