<section class="container mt-3 mb-3">
  <header>
    <h4>Skills</h4>
  </header>
  <small class="lead">
    The following is a list of skills that I have acquired during the last few
    years.
  </small>
  <div class="card shadow-sm mt-3">
    <div class="card-body">
      <h5 class="card-title">Web Technologies</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Methodologies, Technologies, Libraries & Frameworks
      </h6>
      <ul class="list-group list-group-flush card-text">
        <li class="list-group-item mt-1">
          <i class="far fa-check-circle"></i>
          Solid comprehension of the Object Oriented Programming (OOP) model
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Solid comprehension of the Software Development Life Cycle (SDLC)
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Html(5), XML, CSS(3), JavaScript, JSON, AJAX and PHP
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          JQuery, AngularJS, CSS Bootstrap
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          MEAN Stack development: MongoDB, Express, AngularJs and NodeJs
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Proficient with web RESTful APIs
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Proficient with Jenkins
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Proficient with Github Source Control platform
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Proficient with Agile Methodologies like SCRUM
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Proficient with Jira (Product development tracking)
        </li>
        <li class="list-group-item pb-0">
          <i class="far fa-check-circle"></i>
          Proficient with MySQL, MSSQL databases
        </li>
      </ul>
    </div>
  </div>
</section>
