<section class="container mt-3 mb-3">
  <header>
    <h4>Messages</h4>
  </header>
  <div class="row">
    <div class="col">
      <div class="card shadow-sm mt-2 mb-2" *ngFor="let msg of messages">
        <div class="card-body">
          <h5 class="card-title">{{ msg.subject }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ msg.date }}
          </h6>
          <p class="card-text lead">
            {{ msg.message }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
