<section class="container mt-3 mb-3">
  <header class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h4>About App</h4>
      <small class="lead">
        This app was created using the following technologies, libraries &
        frameworks.
      </small>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="card shadow-sm mt-3">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item pointer pt-0">
              <i class="fab fa-node-js"></i>
              NodeJs
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-angular"></i>
              Angular Cli
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-angular"></i>
              AngularJs
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-js-square"></i>
              ExpressJs
            </li>
            <li class="list-group-item pointer">
              <i class="far fa-database"></i>
              MongoDB
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-js-square"></i>
              MongooseJs
            </li>
            <li class="list-group-item pointer">
              <i class="fab fa-bootstrap"></i>
              Bootstrap Css
            </li>
            <li class="list-group-item pointer pb-0">
              <i class="fas fa-flag"></i>
              Font Awsome
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
