<section class="container mt-3">
  <header>
    <h4>About App</h4>
  </header>
  <small class="lead">
    This app was created using the following technologies, libraries &
    frameworks.
  </small>
  <div class="card shadow-sm mt-3">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pt-0">
          <i class="far fa-check-circle"></i>
          NodeJs
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          Angular Cli
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          AngularJs
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          ExpressJs
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          MongoDB
        </li>
        <li class="list-group-item">
          <i class="far fa-check-circle"></i>
          MongooseJs
        </li>
        <li class="list-group-item pb-0">
          <i class="far fa-check-circle"></i>
          Bootstrap Css
        </li>
      </ul>
    </div>
  </div>
</section>
